doepy==0.0.1
imbalanced_learn==0.10.1
imblearn==0.0
matplotlib==3.8.3
numpy==1.24.4
pandas==1.5.3
scikit_learn==1.0.2
scipy==1.13.0
tensorflow==2.12.0
tensorflow_intel==2.12.0
torch==2.0.1
~atplotlib==3.7.1
